body {
    font-family: fantasy;
    text-align: center;
    color: black;
    background-color: black;
    fill-opacity: 0.5;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

#backdrop {
    background-color: black;
    width: 700px;
    height: 700px;
    margin: 0 auto;
}

#contents {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #aa9988;
    display: flex;
    margin: auto;
    overflow: hidden;
    width: 700px;
    height: 700px;
    z-index: 2;
    user-select: none;
}

#primary {
    display: block;
    z-index: 5;
}

#title {
    margin-top: 15px;
    text-align: center;
    font-size: 50px;
    width: 700px;
}

#majority {
    display: block;
    z-index: 5;
}

#setup {
    display: flex;
    z-index: 5;
}

#setting {
    display: block;
    width: 400px;
    margin: 0 auto;
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 4px;
    padding-bottom: 6px;
}

#wdate {
    width: 200px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: block;
    border: 2px solid black;
    border-radius: 4px;
    background-color: skyblue;
    display: block;
}

#fdate {
    width: 200px;
    height: 50px;
    padding: 5px;
    margin: 10px;
    display: block;
    border: 2px solid black;
    border-radius: 4px;
    background-color: forestgreen;
    display: block;
}

#query {
    width: 200px;
    height: 140px;
    padding: 5px;
    margin: 10px;
    display: block;
    border: 2px solid black;
    border-radius: 4px;
    background-color: mediumpurple;
    display: inline-block;
}

#weekdays {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: navajowhite;
    color: black;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}

#frequency {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: navajowhite;
    color: black;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}

#intervals {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: navajowhite;
    color: black;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}

#soc3 {
    font-family: Arial, Arial, Helvetica, sans-serif;
    background-color: navajowhite;
    color: black;
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}

#board {
    display: flex;
    margin: 0 auto;
    z-index: 1;
    position: absolute;
}